<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848292879463-fqqmeq76oi4b0jdhkc68embfe9gdh4g7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848292879463-fqqmeq76oi4b0jdhkc68embfe9gdh4g7</string>
	<key>API_KEY</key>
	<string>AIzaSyD5BWiCIECQVC2-ufb3WgZ7R9PkwRXt_Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>848292879463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ASLShippinglines</string>
	<key>PROJECT_ID</key>
	<string>aslshippinglines</string>
	<key>STORAGE_BUCKET</key>
	<string>aslshippinglines.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848292879463:ios:768dec0184bc62757788c2</string>
</dict>
</plist>